<div class="panel panel-default">
  <div class="panel-heading">Customers</div>


    <table class="table table-condensed">
        <thead>
            <th>ID</th>
            <th>Firstname</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in response.items">
                <td>{{item.id}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.username}}</td>
                <td><a href="#" class="btn btn-default">View</a></td>
            </tr>
        </tbody>
    </table>

  <div class="panel-footer text-center">
      <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" max-size='10'></pagination>
  </div>
</div>